.doctor-picture {
    max-width: 32%;
    margin-right: 20px;
    border: 2px solid #ddd;
}

.doctor-profile {
    display: flex;
    justify-content: flex-start;
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doctor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container {
    display: flex;
}

.button-container button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1b25c1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #111887;
}

#questionForm ,
#reviewForm {
    margin-top: 20px;
    max-width: 70%;
    margin: 20px auto;
}

#questionForm form ,
#reviewForm form {
    display: flex;
    flex-direction: column;
}

#questionForm label ,
#reviewForm label {
    margin-bottom: 10px;
    font-weight: bold;
}

#questionForm .input-container  ,
#reviewForm .input-container{
    display: flex;
    align-items: center;
}

#questionForm input[type="text"]  ,
#reviewForm input[type="text"], 
#reviewForm input[type="number"]{
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}


#questionForm button , 
#reviewForm button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1b25c1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#questionForm button:hover ,
#reviewForm button:hover{
    background-color: #141a8e;
}

.questions-container , 
.reviews-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    gap: 15px;
    width: 50%;
    overflow-y: scroll;

    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.questions-container {
    float: left;
}
.reviews-container {
    float: right;
}


.question-box , 
.review-box{
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.question-box p, 
.review-box p {
    margin: 0 0 10px;
}

.appointment-href {
    color: #fff;
    text-decoration: none;
}

.forms-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;   
    width: 90%;
    height: 30vh;
}