.hello-message {
    color: white;
}

.main-link {
    font-size: 23px;
    color: #1b25c1;
    margin-bottom: 40px;
    display: block;
    text-decoration: none;
}

.main-link:hover {
    text-decoration: none;
    color: #151d83;
}
