body {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.profile,
.appointments-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 67%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &.edit {
        align-items: center;
        justify-content: center;
        max-width: 80%;
    }
}

.appointments-container {
    height: 50%;
}

.appointments-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;

    overflow-y: hidden;

    width: 100%;
}

.appointments {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: scroll;
    width: 70%;
    height: 100%;
}

.appointment {
    padding: 10px;
    border: 1px solid #3A1800;
    border-radius: 10px;
}

.profile h2 {
    margin: 5px 5px 15px 5px;
    color: #333;
    font-size: 34px;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
}

.profile-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
